@model IEnumerable<WebApplication1.Models.VeterinaryDr>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1> *@

<p>
    <a asp-action="Create" style="color: orange;">Add Medical Services</a>
</p>

<div class="row">
    @foreach (var item in Model) 
    {
        <div class="col-md-3 mb-3">
                <div class="card" style="width: 18rem;">
                <div class="card-body" style="color: black;">

                        <h5 class="card-title">Dr. @Html.DisplayFor(modelItem => item.FullName)</h5>
                    <p class="card-text" style="color: black;">
                        <strong>Working:</strong> @Html.DisplayFor(modelItem => item.WorkingHours)<br />
                        <strong>Contact:</strong> @Html.DisplayFor(modelItem => item.Contact)
                    </p>

                        <a asp-action="Edit" asp-route-id="@item.Id" class="card-link" style="color: orange;">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="card-link" style="color: orange;">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="card-link" style="color: orange;">Delete</a>
                    </div>
                </div>
            </div>
    }
</div>
